@model BookGenreViewModel
@{
  ViewData["Title"] = "Home Page";
}

<p>
  <a asp-action="Create">Додати книгу</a>
</p>

<form asp-controller="Home" asp-action="Index">
  Назва: <input type="text" name="searchString" value="@ViewBag.CurrentFilter" />
  <input type="submit" value="Filter" />
  <button type="button" class="form__item-drop">Розширений пошук</button>
  <a class="link-primary" asp-controller="Home" asp-action="Index" ><button type="button" >Скинути фільтри</button></a>
  <div class="search__more">
    <div class="search_el">
      Рік видавництва ВІД: <input type="text" name="currYearStart" value="@ViewBag.CurrYearStart" />
    </div>

    <div class="search_el">
      Рік видавництва ДО: <input type="text" name="currYearEnd" value="@ViewBag.CurrYearEnd" />
    </div>

    <div class="search_el">
      Жанр: <select asp-for="BookGenre" asp-items="Model.Genres">
        <option value="">Всі</option>
      </select>
    </div>

    <div class="search_el">
      Статус: <select asp-for="BookIsBusy" asp-items="Model.IsBusy">
        <option value="">Всі</option>
      </select>
    </div>
    <div class="search_el">
      Автор: <select asp-for="BookAuthor" asp-items="Model.Authors">
        <option value="">Всі</option>
      </select>
    </div>
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th>
        <a asp-action="Index" asp-route-sortOrder="@ViewBag.TitleSort" asp-route-currentFilter="@ViewBag.CurrentFilter"
          asp-route-currAuthor="@ViewBag.CurrAuthor" asp-route-currGenre="@ViewBag.CurrGenre"
          asp-route-currYearStart="@ViewBag.CurrYearStart" asp-route-currYearEnd="@ViewBag.CurrYearEnd"
          asp-route-currIsBusy="@ViewBag.CurrIsBusy">
          @Html.DisplayNameFor(model => model.Books[0].title)
        </a>
      </th>
      <th>
        <a asp-action="Index" asp-route-sortOrder="@ViewBag.AuthorSort" asp-route-currentFilter="@ViewBag.CurrentFilter"
          asp-route-currAuthor="@ViewBag.CurrAuthor" asp-route-currGenre="@ViewBag.CurrGenre"
          asp-route-currYearStart="@ViewBag.CurrYearStart" asp-route-currYearEnd="@ViewBag.CurrYearEnd"
          asp-route-currIsBusy="@ViewBag.CurrIsBusy">
          @Html.DisplayNameFor(model => model.Books[0].author)
        </a>
      </th>
      <th>
        <a asp-action="Index" asp-route-sortOrder="@ViewBag.GenreSort" asp-route-currentFilter="@ViewBag.CurrentFilter"
          asp-route-currAuthor="@ViewBag.CurrAuthor" asp-route-currGenre="@ViewBag.CurrGenre"
          asp-route-currYearStart="@ViewBag.CurrYearStart" asp-route-currYearEnd="@ViewBag.CurrYearEnd"
          asp-route-currIsBusy="@ViewBag.CurrIsBusy">
          @Html.DisplayNameFor(model => model.Books[0].genre)
        </a>
      </th>
      <th>
        <a asp-action="Index" asp-route-sortOrder="@ViewBag.YearSort" asp-route-currentFilter="@ViewBag.CurrentFilter"
          asp-route-currAuthor="@ViewBag.CurrAuthor" asp-route-currGenre="@ViewBag.CurrGenre"
          asp-route-currYearStart="@ViewBag.CurrYearStart" asp-route-currYearEnd="@ViewBag.CurrYearEnd"
          asp-route-currIsBusy="@ViewBag.CurrIsBusy">
          @Html.DisplayNameFor(model => model.Books[0].year)
        </a>
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Books[0].isBusy)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.Books)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.author)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.genre)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.year)
        </td>
        <td class="text-success">
          @if (!item.isBusy) {
            <span class='text-success'>Вільна</span>
          }
           @if (item.isBusy) {
            <span class='text-danger'>Зайнята</span>
          }
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.id">Редагувати</a> |
          <a asp-action="Details" asp-route-id="@item.id">Детальніше</a> |
          <a asp-action="Delete" asp-route-id="@item.id">Видалити</a>
        </td>
      </tr>
    }
  </tbody>
</table>
